.cover{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border-style: solid;
    border-color: white;
    border-width: 1px;

    align-items: center;
    justify-content: center;

    margin-top: 2px;
}

.playlist{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 1px;

    align-items: center;
    justify-content: center;

    margin: 5px;

}

.explSeed{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;

    align-items: center;
    justify-content: center;

    margin: 5px;
}

.playRec{
    width: 40px;
    height: 40px;
}

.playPlaylist{
    width: 20px;
    height: 20px;
}

