.explanation{
    align-items: center;
    width: 50%;
    max-width: 800px;
}

.scatterplotContainer{
    align-items: center;
    width: 50%;
    max-width: 800px;
}

.textContainer{
    align-items: flex-start;
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

.button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #268DAE;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: 50px;
}

.containerExp{
    align-items: flex-start;
    width: 100%;
    color: #e1e1e1;
}

.textExplanation{
    margin-top: 20px;
    width: 80%;
}

.explanationImage{
    height: 200px;
}

.scatterplotImage{
    height: 200px;
}