.container{
    width: 20%;
    margin-left: 10px;
    flex-wrap: nowrap;
    height: 100%;
    overflow: scroll;
    align-items: center;
    justify-content: space-between;
}

.containerPlaylist{
    width: 100%;
    margin-left: 10px;
    flex-wrap: nowrap;
    height: 90%;
    overflow: scroll;
}

.header{
    color: whitesmoke;
    margin-top: 10px;
}

.button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #268DAE;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin: 10px;
}