.container{
    width: 45%;
    margin-left: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.spinner{
    width: 200px;
    height: 200px;
}
.empty{
    color: whitesmoke
}