.col3{
    min-width: 210px;
    width: 45%;
    margin-left: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.col3::-webkit-scrollbar {
    display: none;
}

.container{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-height: 90%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}

.spinner{
    width: 200px;
    height: 200px;
}

.empty{
    margin-top: 20px;
    color: whitesmoke
}

label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
    width: 40%;
    margin: 5px;
    height: 40px;
}

.span{
    color: whitesmoke;
    font-size: 13px;
    line-height: 40px;
}

