
.axis path,
.axis line{
    fill: none;
    stroke-width: 1px;
    stroke: white;
}

.axis text {
    font-size: 13px;
    fill: white;
}

.tooltip{
    position: absolute;
    background-color: var(--backgroundcolor);
    border: solid;
    border-radius: 5px;
    padding: 5px;
}
