.hidden{
    display: none;
}

.visible{
    display: block;
    min-height: 360px;
}

.axis path,
.axis line{
    fill: none;
    stroke-width: 1px;
    stroke: white;
}

.axisLabel {
    font-size: 12px;
    fill: white;
    font-weight: 400;
}

.legendPopularity{
    font-size: 12px;
    fill: white;
    font-weight: 400;
}

.tooltip{
    position: absolute;
    background-color: var(--backgroundcolor);
    border: solid;
    border-radius: 5px;
    padding: 5px;
}
