
.song{
    font-size: 12px;
    margin-left: 5%;
    width: 95%;
    height: 50%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title{
    font-weight: bolder;
    color: #1B9E18;
}



.artist{
    font-style: italic;
    color: black;
}

.artistSearch{
    font-style: italic;
    color: #b5ffbf
}

.background{
    background-color: var(--backgroundcolor);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.backgroundExplanation{
    background-color: var(--backgroundcolor);
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.backgroundSearch{
    background-color: #000000;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: var(--backgroundcolor);
}

.text{
    width: 80%;
    height: 100%;
}

.buttons{
    margin-right: 5px;
}

.icon{
    width: 20px;
    height: 20px;
}
